<!doctype html>

<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
		<link rel="icon" href="favicon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/bootswatch/simplex/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <title>Pontoon - Simple Deployment | Log in</title>
		<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="center-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="images/logo.svg" class="logo">
                </div>
            </div>
            {% if status == 1 %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            Invalid username or password.
                        </div>
                    </div>
                </div>
            {% endif %}
            <form class="form-signin" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" id="inputEmail" class="form-control input-lg" name="email" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="form-control input-lg" name="password" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-lg btn-info btn-block margin-bottom-plus" href="/">Cancel</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-success btn-block margin-bottom-plus" type="submit">Sign in</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12 text-muted text-center small copyright">
                    Pontoon Deploy System | Copyright &copy; Saul Johnson
                </div>
            </div>
        </div>
    </body>
</html>